ul.topnav {
    list-style-type: none;
    margin-top: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    background-color: #B7E1E5;
    opacity:.89;
	position: fixed;
	width: 100%;
	z-index: 1;
 }

ul.topnav li {
	float: right;
}

ul.topnav li a {
    display: inline-block;
    color: #187565;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
    font-family: Raleway, serif;
}

ul.topnav li a:hover {
	background-color: #93CACC;
}

ul.topnav li.icon {
	display: none;
}

@media only screen and (max-width:800px) {
	ul.topnav li:not(:first-child) {
		display: none;
	}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}

@media only screen and (max-width:800px) {
	ul.topnav.responsive {
		position: relative;
	}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
	}
}

.topHome {
	background: url("home.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 700px;
	min-height: 100px;
}
	
.bridgeGap {
	background-color: #B0DFDB;
	margin: 0 10% 0 25%;
	position: absolute;
	left: 0%;
	top: 40%;
	text-align: center;
	opacity: .9;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom: 2%;
}

.bridgeGap h1 {
	font-family: 'Oswald', sans-serif;
    color:white;
}

.bridgeGap p {
	font-family: 'Raleway', sans-serif;
	color:#3E8076;
}

.signIn {
	font-family: Comfortaa;
	font-size: 60px;
	font-weight: bold;
	color: #3E8076;
	text-align: center;
}

.fields {
	font-size: 50px;
	color: white;
	font-family: Oswald;
}

#registerButton {
	margin: auto;
	text-align: center;
	background-color: #3E8076;
	color: white;
}

form {
	padding: 12% 5% 10% 5%;
	text-align: left;
}

input {
	border-radius: 10px;
	font-size: 30px;
	width: 100%;
}

body {
	background-color: lightblue;
}

.learnPara {
	font-family: Comfortaa;
	font-size: 18px;
	font-weight: bold;
	color: #3E8076;
}

.page {
	padding: 12% 5% 10% 5%;
}

.verticalLine {
	height: 450px;
	margin: 50px auto 20px auto;
	background-color: #F7EC18;
	width: 2px;	
}

@media screen and (max-width: 767px) {
	.verticalLine {
		width: 500px;
		margin: auto;
		background-color:#F7EC18;
		height: 2px;
	}
	.start1 {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 75px;
		padding-left: 0;
	}
	.start2 {
		text-align: center;
		padding-top: 75px;
		padding-bottom: 50px;
		padding-right: 0;
	}
}
@media screen and (max-width: 2000px) {
    .bridgeGap {
		left: 5%;
	}
	.learnmore{
		left:35%;
	}
	.aboutHome h3{
		font-size:40px;
	}
}

@media screen and (max-width: 1500px) {
    .bridgeGap {
		left: 0%;
	}
	.learnmore{
		left:30%;
	}
  	.aboutHome h3{
		font-size:35px;
	}
}

@media screen and (max-width: 1200px) {
    .bridgeGap {
		left: -5%;
	}
    .learnmore{
		left:25%;
	}
	.aboutHome h3{
		font-size:35px;
	}
}

@media screen and (max-width: 1150px) {
    .bridgeGap {
		left: -10%;
	}
	.learnmore{
		left:21%;
	}
	.aboutHome h3{
		font-size:30px;
	}
}

@media screen and (max-width: 900px) {
    .bridgeGap {
		left: -13%;;
	}
	.learnmore{
		left:21%;
	}
	.aboutHome h3{
		font-size:25px;
	}
}

@media screen and (max-width: 750px) {
    .bridgeGap {
		left: -15%;
	}
    .learnmore{
		left:20%;
	}
	.aboutHome h3{
		font-size:30px;
	}
}

@media screen and (max-width: 500px) {
   .bridgeGap { 
		left: -15%;
		opacity: 1;
	}
	.topHome {
		background: gray;	  
	}
	.learnmore{
		left:18%;
		opacity: 1;
	}
	.aboutHome h3{
		font-size:30px;
	}
}